---
  const { users } = Astro.props;
---
<div class='bg-grey-lighter flex-1 overflow-auto'>
  {users.map((item) => (    
  <div class='px-3 flex items-center bg-grey-light cursor-pointer'>
    <div>
      <img
        class='h-12 w-12 rounded-full'
        src={item.avatarUrl}
        alt={item.username}
      />
    </div>
    <div class='ml-4 flex-1 border-b border-grey-lighter py-4'>
      <div class='items-bottom'>
        <p class='text-grey-darkest'>{item.username}</p>
        <p class='text-xs text-grey-darkest'>{item.email}</p>
      </div>
    </div>
  </div>
  ))}
</div>